@model IEnumerable<ProjetoBiblioteca.Models.Emprestimo>

@* Relatório de empréstimos com devolução em atraso. *@
<h1>Empréstimos Atrasados</h1>

<div class="table-responsive">
    <table class="table table-striped">

        <thead>
        <tr>
            <th>Usuário</th>
            <th>Livro</th>
            <th>Devolver até</th>
            <th>Multa</th>
        </tr>
        </thead>

        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Usuario.NomeCompleto</td>
                <td>@item.Livro.NomeLivro</td>
                <td>
                    @item.DataPrevistaDevolucao.ToShortDateString()
                </td>
                <td>@item.Multa</td>
            </tr>
        }

        </tbody>

    </table>
</div>