@model ProjetoBiblioteca.Models.Emprestimo

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir Empréstimo</h1>

<h3>Deseja realmente excluir?</h3>

<hr />

<dl class="row">

    <dt class="col-sm-3">Usuário</dt>
    <dd class="col-sm-9">
        @Model.Usuario?.NomeCompleto
    </dd>

    <dt class="col-sm-3">Livro</dt>
    <dd class="col-sm-9">
        @Model.Livro?.NomeLivro
    </dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">
        @Model.Status
    </dd>

</dl>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Excluir
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancelar
    </a>

</form>