@model ProjetoBiblioteca.ViewModels.EmprestimoFormVM
@using ProjetoBiblioteca.Models

@* Tela utilizada para edição de um empréstimo existente. *@
@{
    ViewData["Title"] = "Editar Empréstimo";

    var usuarios = (IEnumerable<Usuario>)ViewBag.Usuarios;
    var livros = (IEnumerable<Livro>)ViewBag.Livros;
}

<h1>Editar Empréstimo</h1>

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="UsuarioId"
               class="form-label"></label>

        <select asp-for="UsuarioId"
                class="form-select">

            <option value="">-- selecione --</option>

            @foreach (var u in usuarios)
            {
                <option value="@u.Id">
                    @u.NomeCompleto
                </option>
            }
        </select>

        <span asp-validation-for="UsuarioId"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LivroId"
               class="form-label"></label>

        <select asp-for="LivroId"
                class="form-select">

            <option value="">-- selecione --</option>

            @foreach (var l in livros)
            {
                <option value="@l.Id">
                    @l.NomeLivro
                </option>
            }
        </select>

        <span asp-validation-for="LivroId"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DataEmprestimo"
               class="form-label"></label>

        <input asp-for="DataEmprestimo"
               class="form-control" />

        <span asp-validation-for="DataEmprestimo"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DataPrevistaDevolucao"
               class="form-label"></label>

        <input asp-for="DataPrevistaDevolucao"
               class="form-control" />

        <span asp-validation-for="DataPrevistaDevolucao"
              class="text-danger"></span>
    </div>

    <button type="submit"
            class="btn btn-primary">
        Salvar
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancelar
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}