@model ProjetoBiblioteca.Models.Usuario

@{
    ViewData["Title"] = "Novo Usuário";
}

@await Html.PartialAsync("_Alerts")

<h1 class="mb-3">Novo Usuário</h1>

<form asp-action="Create" method="post">

    <partial name="_Form" />

    <div class="mt-3 d-flex gap-2">

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>

        <a asp-action="Index"
           class="btn btn-secondary">
            Cancelar
        </a>

    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}